<div class="heroes-cards" fxFlex="20" *ngFor="let heroe of heroes; let i = index">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{heroe.nombre}}</mat-card-title>
            <mat-card-subtitle>{{heroe.casa}}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image [src]="heroe.img" [alt]="heroe.nombre">
        <mat-card-content>
            <p>
                {{heroe.bio}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <!-- <button fxFlex="100" mat-raised-button color="primary">More info</button> -->
            <a [routerLink]="['/heroe',i]" routerLinkActive="router-link-active" fxFlex="100" mat-raised-button color="primary">More info</a>
        </mat-card-actions>
    </mat-card>
</div>